<div  class=" header">
    <div class="top">
       {% if request.user.is_authenticated %}
       <div class="personal">
                   <dl class="user fr">
                       <dd>bobby<img class="down fr" src="/static/images/top_down.png"/></dd>
                       <dt><img width="20" height="20" src="/static/media/image/2016/12/default_big_14.png"/></dt>
                   </dl>
                   <div class="userdetail">
                       <dl>
                           <dt><img width="80" height="80" src="/static/media/image/2016/12/default_big_14.png"/></dt>
                           <dd>
                               <h2>django</h2>
                               <p>bobby</p>
                           </dd>
                       </dl>
                       <div class="btn">
                           <a class="personcenter fl" href="usercenter-info.html">进入个人中心</a>
                           <a class="fr" href="/logout/">退出</a>
                       </div>
                   </div>
               </div>
       {% else %}
       <div class="wp">
           <div class="fl"><p>服务电话：<b>010-86398985</b></p></div>
           <!--登录后跳转-->

               
                <a style="color:white" class="fr registerbtn" href="/register/">注册</a>
                <a style="color:white" class="fr loginbtn" href="/login/">登录</a>
             
       </div>
       {% endif %}
   </div>
</div>

